<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yuji_manualskill_hitted_5/yuji_manualskill_hitted_5_5.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_5/yuji_manualskill_hitted_5_6.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>167</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_6/yuji_manualskill_hitted_6_2.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_6/yuji_manualskill_hitted_6_3.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_6/yuji_manualskill_hitted_6_4.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_4/yuji_manualskill_hitted_8_1.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_4/yuji_manualskill_hitted_4_3.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_4/yuji_manualskill_hitted_4_1.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_2.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_1.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>228</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yuji_manualskill_hitted_3.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yuji_manualskill_hitted1.png</string>
			<key>realTextureFileName</key>
			<string>yuji_manualskill_hitted1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>