<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhucheng01_shangdianui01.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>zhucheng01_shangdianui02.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>zhucheng01_shangdian_04.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_shangdian_03a.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>76</integer>
				<key>y</key>
				<integer>20</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zhucheng01_shangdian_03b.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>zhucheng01_shangdian_03c.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_shangdian_03d.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_shangdian_03e.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_shangdian_03f.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>zhucheng01_shangdian_02.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_shangdian_01.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhucheng01_gongnenglight01.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>241</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhucheng01_shangdian0.png</string>
			<key>realTextureFileName</key>
			<string>zhucheng01_shangdian0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>