<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_4_1.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_4_2.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_4_3.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_4_4.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>215</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_3_2.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_3_1.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_7.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>281</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_6.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>lingtong_manualskill_hitted0.png</string>
			<key>realTextureFileName</key>
			<string>lingtong_manualskill_hitted0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>