<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>body_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pelvis_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_thigh_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder02_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_forearm_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>133</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand03_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand02_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand03_hufananshen_1.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_thigh_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_leg_hufananshen.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hufananshen3.png</string>
			<key>realTextureFileName</key>
			<string>hufananshen3.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>