<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wujiangchouqu_c_3.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wujiangchouqu_c_4.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wujiangchouqu_c_5.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wujiangchouqu_c_6.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>263</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wujiangchouqu_c_7.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>177</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wujiangchouqu_c_2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>wujiangchouqubeijing0.png</string>
			<key>realTextureFileName</key>
			<string>wujiangchouqubeijing0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>