<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Scene_zhanchang_shudenglong03.png</key>
			<dict>
				<key>width</key>
				<integer>5</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>5</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Scene_zhanchang_shudenglong02.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>10</integer>
				<key>originalHeight</key>
				<integer>7</integer>
				<key>x</key>
				<integer>7</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Scene_zhanchang_shudenglong04.png</key>
			<dict>
				<key>width</key>
				<integer>4</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>4</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>7</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Scene_zhanchang_shudenglong01.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Scene_zhanchang_shudenglong05.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Scene_zhanchang_shudenglong010.png</string>
			<key>realTextureFileName</key>
			<string>Scene_zhanchang_shudenglong010.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>