<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill/yuanshao_manualskill_6.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/yuanshao_attack_2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/yuanshao_attack_1.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>159</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/yuanshao_skill_4.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/yuanshao_skill_3.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/yuanshao_skill_2.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>117</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/yuanshao_manualskill_1.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/yuanshao_manualskill_2.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/yuanshao_manualskill_4.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>304</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/yuanshao_manualskill_3.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>157</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/yuanshao_manualskill_5.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>263</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress02_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress03_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress04_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress01_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>433</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression01_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>53</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression02_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression03_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression04_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression05_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_piaodai_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_piaodai_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>145</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_ball_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_ball_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>25</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lingmao04_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lingmao03_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lingmao01_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>112</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lingmao02_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_shoulder_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_forearm_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>473</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_hand_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_cloth01_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_cloth02_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_cloth01_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_cloth02_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>pelvis_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>205</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skirt_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xidai_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>266</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>body_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>432</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_foot_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_foot_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_leg_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>418</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_leg_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>311</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>298</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_forearm_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>199</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress05_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloak_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>389</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shadow_yuanshao.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yuanshao0.png</string>
			<key>realTextureFileName</key>
			<string>yuanshao0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>