<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill/xiahoudun_maualskill_4.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>187</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/xiahoudun_maualskill_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_1/xiahoudun_skill_1_1.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_1/xiahoudun_skill_1_2.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_1/xiahoudun_skill_1_3.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_1/xiahoudun_skill_1_4.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>109</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_2/xiahoudun_skill_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_2/xiahoudun_skill_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/xiahoudun_skill_2/xiahoudun_skill_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>260</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/xiahoudun_attack_1.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>127</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression02_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression03_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression04_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>expression05_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>246</integer>
				<key>y</key>
				<integer>364</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_lingzi_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>body_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>83</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_thigh_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_leg_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>482</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_thigh_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cloak_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>456</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hair03_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>390</integer>
				<key>y</key>
				<integer>290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hair04_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_forearm_xiahoudun.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dust_001.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>78</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xiahoudun1.png</string>
			<key>realTextureFileName</key>
			<string>xiahoudun1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>