<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texiao/hongzhaji_manualskill_3.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>texiao/hongzhaji_manualskill_4.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>75</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>texiao/hongzhaji_manualskill_5.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>91</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>texiao/hongzhaji_skill_1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>texiao/hongzhaji_skill_2.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>texiao/hongzhaji_skill_3.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>190</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>texiao/hongzhaji_skill_4.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>luoxuanjiang01_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>luoxuanjiang02_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhuanzhou_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>luoyi_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiyi_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhadan_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>82</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bullet_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_weapons_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>weiyi_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>79</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>body_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_weapons_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>88</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>texiao/hongzhaji_skill_5.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>texiao/hongzhaji_skill_6.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>335</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shadow_hongzhaji.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>hongzhaji0.png</string>
			<key>realTextureFileName</key>
			<string>hongzhaji0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>