<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>YL_DM001_001.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>YL_DM001_003.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>YL_DM001_005.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>YL_DM001_007.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YL_DM001_009.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>YL_DM001_011.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>315</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>YL_DM001_013.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>yanlong_hitted001_010.png</string>
			<key>realTextureFileName</key>
			<string>yanlong_hitted001_010.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>