<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>r_ear_pijiaxiang.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>hufalong_xing004.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>attack_guang01.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shadow_pijiaxiang.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>261</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>machao_skill003.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>314</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>manualskill_effect01_pijiaxiang.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>164</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>elephant_skill_pijiaxiang.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>359</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangquan_tongyong.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>pijiaxiang1.png</string>
			<key>realTextureFileName</key>
			<string>pijiaxiang1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>