<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dongzhuo_ball_00.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>85</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>dust_ma_002.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dongzhuo_manualskill_guang_00.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>84</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_dust_00.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_weapon01_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_dilie_00.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_daoguang_01.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_daoguang_00.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>40</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_forearm_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_hand_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress02_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress04_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress03_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress01_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress08_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress06_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress07_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress09_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_shoulder_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_upperarm_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_body01_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>191</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_headdress05_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_expression_gongji01_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_expression_zhengchang_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>t_expression_biyan_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>t_expression_siwang_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_expression_beiji_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>t_expression_shengli_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>228</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_expression_gongji_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_pelvis01_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_body02_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_body03_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_pelvis02_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_pelvis03_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_pelvis04_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>476</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_shoulder_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_leg_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_foot_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_leg_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_l_foot_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_dust_01.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>317</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>t_weapon02_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>285</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_forearm_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_hand_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_r_upperarm_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>t_cloak_dongzhuo.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack_diguang_00.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>139</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dongzhuo0.png</string>
			<key>realTextureFileName</key>
			<string>dongzhuo0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>