<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dun_guang01_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>92</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dun_shadow01_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dun_guang02_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dun_shadow01_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dun_guang02_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dun_guang01_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>189</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fire02_1_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>fire02_2_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>fire02_3_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>fire02_4_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>flash3_01_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>flash3_02_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>flash3_03_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>flash3_04_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>408</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>flash2_01_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>flash2_02_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>16</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>flash2_03_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>29</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>manualskill_guang03.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chongjibo02_nvzhu.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>152</integer>
				<key>x</key>
				<integer>406</integer>
				<key>y</key>
				<integer>29</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chongjibo01_nvzhu.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>158</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill_jinzhong03_nvzhu.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill_jinzhong02_nvzhu.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>39</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill_jinzhong04_nvzhu.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huatuoskill07.png</key>
			<dict>
				<key>width</key>
				<integer>6</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>6</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>eye_light_1_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>eye_light_1_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_jianjia_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>headdress02_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_forearm_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>131</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_forearm_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_forearm_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_hand_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>159</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_hand_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_hand_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>235</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>181</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_arm_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_arm_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_arm_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>plevis_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>113</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>plevis_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>plevis_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_jianjia_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_jianjia_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>168</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_hand_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_shoulder_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>339</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_forearm_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_forearm_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skirt_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_skirt_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>368</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_skirt_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>241</integer>
				<key>y</key>
				<integer>474</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_skirt_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_foot_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_foot_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_foot_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>113</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_leg_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>266</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>l_leg_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>23</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_leg_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>491</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_leg_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_foot_nanzhu.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_foot_nanzhu_mj.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>r_foot_nanzhu_bz.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>nanzhu_zs0.png</string>
			<key>realTextureFileName</key>
			<string>nanzhu_zs0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>