<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill/zhangliao_manualskill_3.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/zhangliao_manualskill_4.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>158</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/zhangliao_manualskill_5.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/zhangliao_attack_2.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>attack/zhangliao_attack_1.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/manualskill_daoguang01_03.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/manualskill_daoguang02_01.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>359</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/manualskill_daoguang03_01.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/zhangliao_skill_3.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>81</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/dian004_pushanbing.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>122</integer>
				<key>originalHeight</key>
				<integer>113</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill/dian003_pushanbing.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_forearm_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>33</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_hand_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/weapons_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_jianjia01_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>57</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>28</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_upperarm_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_jianjia02_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/maozi_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>89</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>422</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_huzi_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>18</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>454</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_huzi_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/toukui02_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/biyan_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/expression01_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zhangliao/expression03_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>318</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zhangliao/xiabai01_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_leg_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_foot_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>11</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>19</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_foot_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>9</integer>
				<key>originalWidth</key>
				<integer>19</integer>
				<key>originalHeight</key>
				<integer>9</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_leg_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>28</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_thigh_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_hand_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>26</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_forearm_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>383</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhangliao0.png</string>
			<key>realTextureFileName</key>
			<string>zhangliao0.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>