<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill/zhangliao_manualskill_1.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill/zhangliao_manualskill_2.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>273</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/expression04_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>zhangliao/expression02_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>61</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/yaodai_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/body_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/xiaobai02_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/xiaobai03_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/tuofa01_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/r_thigh_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/toukui03_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/l_upperarm_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>54</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/cloak_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>114</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangliao/yinying_zhangliao.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dust_007.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhangliao1.png</string>
			<key>realTextureFileName</key>
			<string>zhangliao1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>