<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_4.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_3.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_2.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_2_1.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>manualskill_hitted/lingtong_manualskill_hitted_1.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>86</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>lingtong_manualskill_hitted1.png</string>
			<key>realTextureFileName</key>
			<string>lingtong_manualskill_hitted1.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>